<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhu.dao.BlogMapper" >
  <resultMap id="BaseResultMap" type="com.zhu.pojo.Blog" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="user_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="stars" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="self_only" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="image" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, stars, self_only, content, image, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from blog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhu.pojo.Blog" >
    insert into blog (id, user_id, stars, 
      self_only, content, image, 
      create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{stars,jdbcType=INTEGER}, 
      #{selfOnly,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.zhu.pojo.Blog" >
    insert into blog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="stars != null" >
        stars,
      </if>
      <if test="selfOnly != null" >
        self_only,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="stars != null" >
        #{stars,jdbcType=INTEGER},
      </if>
      <if test="selfOnly != null" >
        #{selfOnly,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhu.pojo.Blog" >
    update blog
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="stars != null" >
        stars = #{stars,jdbcType=INTEGER},
      </if>
      <if test="selfOnly != null" >
        self_only = #{selfOnly,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhu.pojo.Blog" >
    update blog
    set user_id = #{userId,jdbcType=INTEGER},
      stars = #{stars,jdbcType=INTEGER},
      self_only = #{selfOnly,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      create_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
<!--  -->
  <select id="selectByUserId" resultType="com.zhu.pojo.Blog">
    select
    <include refid="Base_Column_List"/>
    from blog
    where  user_id=#{userId}
  </select>
<!--  -->
  <select id="checkUser" parameterType="map" resultType="int">
    select count(1)
    from blog
    where user_id=#{userId} and id=#{blogId}
  </select>
<!--  -->
  <select id="getAll" resultType="com.zhu.pojo.Blog">
    select
        <include refid="Base_Column_List"/>
    from blog
    order by stars desc
  </select>
<!--  -->
  <select id="selectByKeyWord" parameterType="string" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from blog where content like "%${keyWord}%"
  </select>
</mapper>